# PostgreSQL
POSTGRES_DB=shop
POSTGRES_USER=shop_user
POSTGRES_PASSWORD=shop_pass
POSTGRES_HOST=db  
POSTGRES_PORT=5432

# Django secret key
DJANGO_SECRET_KEY=your_secret_key_here

# Debug
DEBUG=True
